# ignore nerdtree files
.NERDTreeBookmarks

# ignore edit files
.*.swp


.vim/.netrwhist
.DS_Store
.account
.anyconnect
.git_prev/
.ievms/
.ovftool.ssldb
.tmux.conf
.vim_prev/
INSTALL_LOG
.CFUserTextEncoding
.GalleryRemote/
.Trash/
.Xauthority
.amu/
.android/
.androidREMOVE/
.argouml/
.bash_history
.bash_profile
.bashrc
.boot2docker/
.cache/
.config/
.cpan/
.cpanm/
.crash_report_checksum
.crash_report_frames
.crash_report_preview
.cups/
.drjava
.dropbox/
.dvdcss/
.eclipse/
.eclipse_keyring
.filezilla/
.fontconfig/
.gem/
.gitconfig
.gitignore_global
.gnupg/
.gradle/
.jenkins/
.lesshst
.local/
.lpass/
.npm/
.org.eclipse.epp.usagedata.recording.userId
.perlbrew/
.profile
.resolver/
.ssh/
.subversion/
.swp
.viminfo
0h/
AndroidStudioProjects/
Applications/
BACKUPS/
Desktop/
Documents/
Downloads/
Dropbox/
Google Drive/
Incompatible Software/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
TESTING/
VirtualBox VMs/
adt-bundle-mac-x86_64-20131030/
after_change.csv
apt/
astyle/
before_change.csv
bin/
bugzilla-3.6/
code/
config.OLD
development/
docbook/
fink-0.29.16/
fink/
git/
gitbin/
gitolite-admin/
gitolite/
hadoop-1.1.2/
iPhone.prev/
iPhone/
jenkins.war
log_p2p_fails.txt
mbox
musicBackup/
perl5/
rails_projects/
req/
source_files/
ssh
termprojthoughts
test.py
tmp/
web_dev/

